Summarization/Network/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "PlaybookName": {
        "type": "string",
        "defaultValue": "MSDX-Summarize-Network",
        "metadata": {
          "description": "Name of the Logic App."
        }
      },
      "SentinelWorkspaceID": {
        "type": "string",
        "metadata": {
          "description": "The unique identifier of the Azure Log Analytics workspace."
        }
      },
      "SentinelWorkspaceKey": {
        "type": "securestring",
        "metadata": {
          "description": "The primary or secondary key of the Azure Log Analytics workspace."
        }
      },
      "ADXClusterURI":{
        "type":"string",
        "metadata":{
          "description": "URL of the ADX Cluster"
        }
      },
      "ADXDatabaseName":{
        "defaultValue": "adxdata001",
        "type": "string",
        "metadata": {
            "description": "Your ADX Database Name"
          }
    }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "ADXConnectionName": "[concat('azuredataexplorer-', parameters('PlaybookName'))]"
    },
    "resources": [
          {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "parameterValues": {
                    "username": "[parameters('SentinelWorkspaceID')]",
                    "password": "[parameters('SentinelWorkspaceKey')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ADXConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('ADXConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/kusto')]"
                }
            }
        },
      {
        "type": "Microsoft.Logic/workflows",
        "apiVersion": "2019-05-01",
        "name": "[parameters('PlaybookName')]",
        "location": "[resourceGroup().location]",
        "dependsOn": [
          "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
          "[resourceId('Microsoft.Web/connections', variables('ADXConnectionName'))]"
        ],
        "properties": {
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "$connections": {
                "defaultValue": {},
                "type": "Object"
              }
            },
            "triggers": {
              "Recurrence": {
                "recurrence": {
                  "frequency": "Hour",
                  "interval": 1
                },
                "type": "Recurrence"
              }
            },
            "actions": {
              "Send_Data": {
                "runAfter": {
                  "Summary_-_Outbound_Firewall_Traffic": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "body": "@{body('Summary_-_Outbound_Firewall_Traffic')?['value']}",
                  "headers": {
                    "Log-Type": "SummariesNetworkOutbound_CL",
                    "time-generated-field": "endtime"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/api/logs"
                }
              },
              "Send_Data_2": {
                "runAfter": {
                  "Summary_-_Inbound_Firewall_Traffic": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "body": "@{body('Summary_-_Inbound_Firewall_Traffic')?['value']}",
                  "headers": {
                    "Log-Type": "SummariesNetworkInbound_CL",
                    "time-generated-field": "endtime"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/api/logs"
                }
              },
              "Send_Data_3": {
                "runAfter": {
                  "Summary_-_Original_Palo_Table_Size_Estimate": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection",
                "inputs": {
                  "body": "@{body('Summary_-_Original_Palo_Table_Size_Estimate')?['value']}",
                  "headers": {
                    "Log-Type": "SummariesOriginalTableSizeEstimates",
                    "time-generated-field": "endtime"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/api/logs"
                }
              },
              "Summary_-_Inbound_Firewall_Traffic": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "body": {
                    "cluster": "[parameters('ADXClusterURI')]",
                    "csl": "let starttime = bin(ago(1h), 1h);\nlet endtime = bin(now(), 1h);\nexternal_table('paloaltotraffic')\n| where rt >= starttime and rt < endtime\n| summarize ConnectionsCount=count(), \n    RemoteIPCount = count_distinct(src),\n    RemotePortsCount=count_distinct(SourcePort),\n    LocalPortsCount=count_distinct(DestinationPort),\n    OutBytes = sum(total_in),\n    InBytes = sum(total_out) by dst, SimplifiedDeviceAction\n| extend direction=\"In\", endtime=endtime\n| project-rename IP=dst",
                    "db": "[parameters('ADXDataBase')]"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuredataexplorer']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/ListKustoResults/false"
                }
              },
              "Summary_-_Original_Palo_Table_Size_Estimate": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "body": {
                    "cluster": "[parameters('ADXClusterURI')]",
                    "csl": "let starttime = bin(ago(1h), 1h);\nlet endtime = bin(now(), 1h);\nexternal_table('paloaltotraffic')\n| where rt >= starttime and rt < endtime\n| take 1000000000000000000\n| summarize total = sum(estimate_data_size(*)) by endtime\n| project-rename endtime= Column1\n| extend table = \"Palo Traffic\"",
                    "db": "[parameters('ADXDataBase')]"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuredataexplorer']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/ListKustoResults/false"
                }
              },
              "Summary_-_Outbound_Firewall_Traffic": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                  "body": {
                    "cluster": "[parameters('ADXClusterURI')]",
                    "csl": "let starttime = bin(ago(1h), 1h);\nlet endtime = bin(now(), 1h);\nexternal_table('paloaltotraffic')\n| where rt >= starttime and rt < endtime\n| summarize ConnectionsCount=count(),\n    RemoteIPCount = count_distinct(dst),\n    RemotePortsCount=count_distinct(SourcePort),\n    LocalPortsCount=count_distinct(DestinationPort),\n    OutBytes = sum(total_out),\n    InBytes = sum(total_in) by src, SimplifiedDeviceAction\n| extend direction=\"Out\", endtime=endtime\n| project-rename IP=src",
                    "db": "[parameters('ADXDataBase')]"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azuredataexplorer']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/ListKustoResults/false"
                }
              }
            },
            "outputs": {}
          },
          "parameters": {
            "$connections": {
              "value": {
                "azuresentinel": {
                    "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                    "connectionName": "[variables('AzureSentinelConnectionName')]",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"
                },
                "azuredataexplorer": {
                  "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/kusto')]",
                    "connectionId": "[resourceId('Microsoft.Web/connections', variables('ADXConnectionName'))]",
                  "connectionName": "[variables('ADXConnectionName')]",
                  "connectionProperties": {
                    "authentication": {
                      "type": "ManagedServiceIdentity"
                    }
                  }
                }
              }
            }
          }
        },
        "identity": {
          "type": "SystemAssigned"
        }
      }
    ],
    "outputs": {}
  }
